NET "rbutton" LOC = P119 | IOSTANDARD = LVTTL | PULLUP;
NET "gbutton" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;
NET "bbutton" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "ybutton" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "undobutton" LOC = P120 | IOSTANDARD = LVTTL | PULLUP;
NET "submitbutton" LOC = P57 | IOSTANDARD = LVTTL | PULLUP;

NET "io_seg<0>" LOC = P101 | IOSTANDARD = LVTTL;
NET "io_seg<1>" LOC = P104 | IOSTANDARD = LVTTL;
NET "io_seg<2>" LOC = P92 | IOSTANDARD = LVTTL;
NET "io_seg<3>" LOC = P97 | IOSTANDARD = LVTTL;
NET "io_seg<4>" LOC = P94 | IOSTANDARD = LVTTL;
NET "io_seg<5>" LOC = P111 | IOSTANDARD = LVTTL;
NET "io_seg<6>" LOC = P99 | IOSTANDARD = LVTTL;

NET "io_sel<0>" LOC = P87 | IOSTANDARD = LVTTL;
NET "io_sel<1>" LOC = P84 | IOSTANDARD = LVTTL;
NET "io_sel<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "io_sel<3>" LOC = P80 | IOSTANDARD = LVTTL;

NET "bigled1<0>" LOC = P35 | IOSTANDARD = LVTTL;
NET "bigled1<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "bigled1<2>" LOC = P40 | IOSTANDARD = LVTTL;
NET "bigled1<3>" LOC = P34 | IOSTANDARD = LVTTL;

NET "bigled2<0>" LOC = P138 | IOSTANDARD = LVTTL;
NET "bigled2<1>" LOC = P140 | IOSTANDARD = LVTTL;
NET "bigled2<2>" LOC = P139 | IOSTANDARD = LVTTL;
NET "bigled2<3>" LOC = P137 | IOSTANDARD = LVTTL;

NET "bigled3<0>" LOC = P30 | IOSTANDARD = LVTTL;
NET "bigled3<1>" LOC = P33 | IOSTANDARD = LVTTL;
NET "bigled3<2>" LOC = P32 | IOSTANDARD = LVTTL;
NET "bigled3<3>" LOC = P29 | IOSTANDARD = LVTTL;

NET "bigled4<0>" LOC = P132 | IOSTANDARD = LVTTL;
NET "bigled4<1>" LOC = P134 | IOSTANDARD = LVTTL;
NET "bigled4<2>" LOC = P133 | IOSTANDARD = LVTTL;
NET "bigled4<3>" LOC = P131 | IOSTANDARD = LVTTL;

NET "bigled5<0>" LOC = P79 | IOSTANDARD = LVTTL;
NET "bigled5<1>" LOC = P75 | IOSTANDARD = LVTTL;
NET "bigled5<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "bigled5<3>" LOC = P78 | IOSTANDARD = LVTTL;

NET "bigled6<0>" LOC = P117 | IOSTANDARD = LVTTL;
NET "bigled6<1>" LOC = P127 | IOSTANDARD = LVTTL;
NET "bigled6<2>" LOC = P126 | IOSTANDARD = LVTTL;
NET "bigled6<3>" LOC = P116 | IOSTANDARD = LVTTL;

NET "smallled1<0>" LOC = P142 | IOSTANDARD = LVTTL;
NET "smallled1<1>" LOC = P144 | IOSTANDARD = LVTTL;
NET "smallled1<2>" LOC = P143 | IOSTANDARD = LVTTL;
NET "smallled1<3>" LOC = P141 | IOSTANDARD = LVTTL;

NET "smallled2<0>" LOC = P2 | IOSTANDARD = LVTTL;
NET "smallled2<1>" LOC = P6 | IOSTANDARD = LVTTL;
NET "smallled2<2>" LOC = P5 | IOSTANDARD = LVTTL;
NET "smallled2<3>" LOC = P1 | IOSTANDARD = LVTTL; // NOT WORKING

NET "smallled3<0>" LOC = P8 | IOSTANDARD = LVTTL;
NET "smallled3<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "smallled3<2>" LOC = P9 | IOSTANDARD = LVTTL;
NET "smallled3<3>" LOC = P7 | IOSTANDARD = LVTTL;

NET "smallled4<0>" LOC = P12 | IOSTANDARD = LVTTL;
NET "smallled4<1>" LOC = P15 | IOSTANDARD = LVTTL;
NET "smallled4<2>" LOC = P14 | IOSTANDARD = LVTTL;
NET "smallled4<3>" LOC = P11 | IOSTANDARD = LVTTL;

NET "smallled5<0>" LOC = P17 | IOSTANDARD = LVTTL;
NET "smallled5<1>" LOC = P22 | IOSTANDARD = LVTTL;
NET "smallled5<2>" LOC = P21 | IOSTANDARD = LVTTL;
NET "smallled5<3>" LOC = P16 | IOSTANDARD = LVTTL;

NET "smallled6<0>" LOC = P24 | IOSTANDARD = LVTTL;
NET "smallled6<1>" LOC = P27 | IOSTANDARD = LVTTL;
NET "smallled6<2>" LOC = P26 | IOSTANDARD = LVTTL;
NET "smallled6<3>" LOC = P23 | IOSTANDARD = LVTTL;

